@keyframes animate1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes animate2 {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-40px);
    }
}

@keyframes animate3 {
    0% {
        transform: translateX(0%)translateY(0px);
        opacity: 1;
    }

    20% {
        transform: translateX(0%)translateY(-40px);
        opacity: 1;
    }

    40% {
        transform: translateX(0%)translateY(0px);
        opacity: 1;
    }

    60% {
        transform: translateX(200%) translateY(0px);
        opacity: 1;
    }

    80% {
        transform: translateX(200%) translateY(0px);
        opacity: 0;
    }

    100% {
        transform: translateX(200%) translateY(0px);
        opacity: 0;
    }
}

@keyframes animate4 {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(-40px);
    }
}